<template>
  <section>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card>
          <v-card-title class="headline">
            <h1>SignUp</h1>
          </v-card-title>
          <hr>
          <v-spacer />
          <v-card-text>
            <v-form :disabled="isBusy" @submit.prevent="submit">
              <v-container v-if="!formSent">
                <FormErrors :errors="errors" />
                <v-spacer />
                <v-text-field v-model="email" label="Email" />
                <v-text-field v-model="password" type="password" label="Password" required />

                <v-spacer />
                <div class="text-right">
                  <v-btn type="submit" color="primary">
                    SignUp
                  </v-btn>
                  <v-btn nuxt color="primary" to="/">
                    Back to home
                  </v-btn>
                  <v-spacer class="mt-3" />
                  <p class="text-right">
                    Do you have an account?
                    <nuxt-link to="signin"> SignIn </nuxt-link>
                  </p>
                </div>
              </v-container>
              <v-container v-else class="justify-content-center">
                <h3>Great! Now you can SignIn with your credentials</h3>
                <nuxt-link to="/auth/signin">Click here</nuxt-link>
              </v-container>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import FormErrors from "../../components/Common/FormErrors";

export default {
  layout: 'empty',
  components: { FormErrors },
  data () {
    return {
      email: '',
      password: '',
      errors: [],
      isBusy: false,
      formSent: false
    }
  },
  methods: {
    async submit () {
      this.isBusy = true
      try {
        await this.$axios.post('/api/sign-up', {email: this.email, password: this.password})
        .then((res) => {
          this.formSent = true
        })
      } catch (error) {
        this.errors = error.response.data.errors
      }
      this.isBusy = false
    }
  }
}
</script>
