<template>
  <section>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card>
          <v-card-title class="headline">
            <h1>SignIn</h1>
          </v-card-title>
          <hr>
          <v-spacer />
          <v-card-text>
            <v-form :disabled="isBusy" @submit.prevent="submit">
              <v-container>
                <FormErrors :errors="errors" />
                <v-spacer />
                <v-text-field v-model="login.username" label="Email" />
                <v-text-field type="password" v-model="login.password" label="Password" required />
                <v-spacer />

                <div class="text-right">
                  <v-btn type="submit" color="primary"> SignIn </v-btn>
                  <v-btn nuxt color="primary" to="/"> Back to home </v-btn>
                  <v-spacer class="mt-3" />
                  <p class=""> Or
                    <nuxt-link to="/auth/signup"> SignUp </nuxt-link>
                  </p>
                </div>
              </v-container>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import FormErrors from "../../components/Common/FormErrors";

export default {
  layout: 'empty',
  components: { FormErrors },
  data () {
    return {
      login: {
        username: '',
        password: ''
      },
      errors: [],
      isBusy: false,
    }
  },
  methods: {
    async submit () {
      this.isBusy = true

      try {
        await this.$store.dispatch('login', this.login)

        this.$router.push('/')
      } catch (e) {
        const error = {
          property_path: 'Can\'t to login',
          message: e.response.data.errors.message
        }
        this.errors.push(error)
      }
      this.isBusy = false
    }
  }
}
</script>
