<template>
  <div class="mb-sm-3">
    <v-card>
      <v-card-title class="headline"> {{ title }} </v-card-title>
      <v-card-text> {{ content }} </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn v-if="isOwner" @click="remove()" depressed>
          <v-icon>mdi-delete</v-icon>
        </v-btn>
        <v-btn color="primary" nuxt @click.prevent="openArticle(id)">
          Read More
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    id: Number,
    author_id: Number,
    title: String,
    content: String,
    created_at: String
  },
  methods: {
    openArticle (articleId) {
      this.$router.push('/news/' + articleId)
    },
    async remove () {
      await this.$store.dispatch('news/remove', this.id )
      .catch(error => console.log('Delete article fail', error))
    },

  },
  computed: {
    isOwner () {
      return this.$auth.loggedIn && (this.$auth.user.id === this.author_id)
    },
  }
}
</script>
