<template>
  <v-row justify="center">
    <v-col cols="12" sm="8" md="6">
      <div v-for="article of news" :key="article.id">
        <Item
          :id="article.id"
          :title="article.title"
          :content="article.content"
          :created_at="article.created_at"
          :author_id="article.author_id"
        />
      </div>
    </v-col>
  </v-row>
</template>

<script>
import Item from '../../components/News/Item'

export default {
  middleware: ['authenticated'],
  components: { Item },
  computed: {
    news () {
      return this.$store.state.news.list
    }
  }
}
</script>
