<template>
  <div>
    <v-btn v-if="loggedIn">{{ username }}</v-btn>
    <v-btn v-if="!loggedIn" nuxt to="/auth/signin">
      <v-icon>mdi-account</v-icon>
    </v-btn>
    <v-btn v-else @click="logOut()">LogOut</v-btn>
  </div>
</template>

<script>
export default {
  data () {
    return {
      loggedIn: this.$auth.loggedIn,
      username: this.$auth.loggedIn ? this.$auth.user.email : ''
    }
  },
  methods: {
    logOut () {
      this.$auth.logout();
    }
  }
}
</script>
