{% extends 'mail.html.twig' %}

{% block body %}

    <p>There was added a new article on our NewsPortal</p>

    {% set url = url('api.news.show', {'id': articleId}) %}

    <p>You can comment it: <a href="{{ url }}">{{ url }}</a></p>

{% endblock %}
