{% extends 'mail.html.twig' %}

{% block body %}

    <p>Hello, {{ author.username }}!</p>

    <p>There was added a new comment to your article</p>

    {% set url = url('api.news.show', {'id': articleId}) %}

    <p>You can read it here: <a href="{{ url }}">{{ url }}</a></p>

{% endblock %}
