<template>
  <div class="container">
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card>
          <v-card-title class="headline">
            <h1>News Portal</h1>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>

    <List />
  </div>
</template>

<script>
import List from "../components/News/List";

export default {
  components: { List },
  auth: false,
  data () {
    return {}
  },
  async fetch({store}) {
    // if (store.getters['news/list'].length === 0) {
      await store.dispatch('news/fetch')
    // }
  },
}
</script>
