<template>
  <ul>
    <li v-for="error in errors" :key="error" class="red-text accent-1">
      {{ error.property_path }}: {{ error.message }}
    </li>
  </ul>
</template>
<script>
export default {
  props: ['errors']
}
</script>
