<template>
  <v-card max-width="650" class="mx-auto">
    <v-toolbar>
      <v-toolbar-title>Comments</v-toolbar-title>
    </v-toolbar>
    <v-list three-line>
      <template v-for="(comment, index ) in comments">
        <v-list-item v-if="comment.content">
          <v-list-item-content>
            <v-list-item-subtitle v-html="comment.author_data.username"></v-list-item-subtitle>
            <v-list-item-title v-html="comment.content"></v-list-item-title>
            <v-list-item-icon v-if="isOwner(comment.author_data.id)" class="meta">
              <v-icon href="#" @click.prevent="remove(comment.id)">mdi-delete</v-icon>
            </v-list-item-icon>
            <hr>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-card>
</template>

<script>
export default {
  props: {
    comments: Array
  },
  data() {
    return {
      dialog: false,
      comment: {
        id: 0,
        content: '',
        created_at: '',
        author_data: {
          id: 0,
          username: '',
        }
      }
    }
  },
  methods: {
    async remove (id) {
      window.confirm('Are you sure?')

      await this.$axios.delete('/api/comment/'+id)
        .catch(error => console.log('comment delete error', error));

      const index = this.comments.findIndex(function (item) {
        return item.id === id
      })

      this.comments.splice(index, 1)
    },
    isOwner (authorId) {
      return authorId === this.$auth.user.id
    }
  }
}
</script>
<style>
.meta {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.meta .v-icon.v-icon {
  font-size: inherit;
  margin: 0 5px;
  display: inline-block;
}
.meta .three-line .v-list-item .v-list-item__icon {
  margin: 5px 0;
}
</style>
