<template>
  <div>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="480"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Leave comment
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline">
          Write your comment here)
        </v-card-title>
        <v-form @submit.prevent="createComment()">
          <v-card-text>
            <v-textarea v-model="commentContent" />
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text type="submit">Send</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['postId'],
  data () {
    return {
      dialog: false,
      commentContent: ''
    }
  },
  methods: {
    async createComment () {
      /*const comment = {
        "author_data": {
          "id": 2,
          "username": "qqq@qqq.qqq"
        },
        "id": 10,
        "content": this.commentContent,
        "created_at": "2020-11-07T18:27:07+00:00",
        "updated_at": "2020-11-07T18:27:07+00:00"
      }*/

      const comment = await this.$axios.post('/api/comment/'+this.postId, {content: this.commentContent})
      .then(res => res.data)
      .catch(error => console.log('create comment error', error))

      this.$emit('added-comment', comment)
      this.dialog = false
      this.commentContent = ''
    }
  }
}
</script>
