<template>
  <div class="container">
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card>
          <v-card-title class="headline">
            <h1>{{ article.title }}</h1>
          </v-card-title>
          <hr>
          <v-card-text>{{ article.content }}</v-card-text>
          <v-card-actions>
            <v-spacer />
            <CommentCreateModal :post-id="article.id" @added-comment="onAddedComment"></CommentCreateModal>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="article.comments.length" justify="center">
      <v-col cols="12" sm="8" md="6">
        <comment-list :comments="article.comments"></comment-list>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import CommentList from "../../components/Comments/CommentList";
import CommentCreateModal from "../../components/Comments/CreateModal";

export default {
  components: { CommentList, CommentCreateModal },
  data () {
    return {
      article: {
        id: 0,
        title: '',
        content: '',
        created_at: '',
        comments: []
      },
    }
  },
  async asyncData({$axios, params}) {
    /*const article = {
      "id": 6,
      "title": "Some Title asdfasdf",
      "content": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut, blanditiis consectetur, deserunt exercitationem explicabo facere, id ipsum labore molestias numquam porro rem sapiente unde ut vel vero vitae voluptatum.",
      "comments": [
        {
          "author_data": {
            "id": 2,
            "username": "qqq@qqq.qqq"
          },
          "id": 38,
          "content": "",
          "created_at": "2020-11-08T18:25:10+00:00",
          "updated_at": "2020-11-08T18:25:10+00:00"
        },
        {
          "author_data": {
            "id": 2,
            "username": "qqq@qqq.qqq"
          },
          "id": 38,
          "content": "",
          "created_at": "2020-11-08T18:25:10+00:00",
          "updated_at": "2020-11-08T18:25:10+00:00"
        },
        {
          "author_data": {
            "id": 2,
            "username": "qqq@qqq.qqq"
          },
          "id": 38,
          "content": "",
          "created_at": "2020-11-08T18:25:10+00:00",
          "updated_at": "2020-11-08T18:25:10+00:00"
        }
      ],
      "created_at": "2020-11-08T14:27:16+00:00",
      "updated_at": "2020-11-08T14:27:16+00:00"
    }*/
    const article = await $axios.get('/api/news/'+params.id)
      .then(response => (response.data))
      .catch(error => console.log('get an article error', error));

    return { article }
  },
  methods: {
    onAddedComment (comment) {
      this.article.comments.push(comment)
    },
  }
}
</script>
