<template>
  <div class="container">
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card>
          <v-card-title class="headline">
            <h1>Add an Article</h1>
          </v-card-title>
          <hr>
          <v-form @submit.prevent="submit()">
          <v-card-text>

            <v-text-field label="Title" v-model="title" />
            <v-textarea label="Content" v-model="content" />

            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn color="primary" type="submit">
                Publish
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: '',
      content: ''
    }
  },
  methods: {
    async submit () {
      await this.$store.dispatch('news/create', {title: this.title, content: this.content} )
        .catch(error => console.log('Create article fail', error))

      this.$router.push('/')
    }
  }
}
</script>
